* {
    color: #fff !important;
    font-family: 'Montserrat', sans-serif !important;
}

.navbar {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.navbar-brand {
    font-weight: 700;
}

.box {
    margin: auto;
    width: 85%;
}

.bold {
    font-weight: 700;
}

p {
    display: inline;
    margin: 10px
}


/* .man-laptop-img {
width: 75vh;
display: block;
margin: auto;
border-radius: 5%;
-webkit-border-radius: 5%;
-moz-border-radius: 5%;
-ms-border-radius: 5%;
-o-border-radius: 5%;
} */

.red-background {
    background-color: #ff3c3c;
}

.different-red-background {
    background-color: #d12f2f !important;
}

.clients-ad {
    width: 85%;
    text-align: center;
    margin: auto;
    font-size: 20px;
}

.guia {
    width: 85%;
}

footer {
    font-size: 18px;
    position: relative;
    top: 57vh !important;
    padding-bottom: 1vh;
}

input::placeholder {
    color: #fff !important;
}

textarea::placeholder {
    color: #fff !important;
}

.red-font {
    color: #ff3c3c !important;
}

.title {
    text-align: center;
}

.form {
    height: 100%;
}

.checkbox {
    font-family: 'Montserrat', sans-serif;
}

.card {
    margin: 15px;
    width: 30vh;
    background-color: #ff3c3c !important;
}

.buy-box {
    box-shadow: 10px 5px 30px black;
    cursor: pointer;
    border: none !important;
    margin: 0 auto !important;
    font-weight: 700 !important;
}